@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LeagueSpartan-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LeagueSpartan-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LeagueSpartan-Bold.svg#211ac8f8a3bc529cc41961980dffd6dd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}
