$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/components-font-awesome/scss/font-awesome.scss';
// endbower
@import 'fonts.scss';

hr
{
    margin: 3px;

    border: 2px solid rgba(41, 49, 57, .06);
}
h1
{
    font-family: LeagueSpartan-Bold;
}

.parent2
{
    position: fixed;
    z-index: 20;
    top: 20px;
    left: 15px;

    display: block;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: transparent;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
       -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
}

.test1
{
    line-height: 70px;

    position: absolute;
    position: absolute;
    z-index: 19;
    top: 25%;
    left: 25%;

    width: 60%;
    height: 60%;

    transition: all 500ms cubic-bezier(.680, -.550, .265, 1.550);
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: dimGray;
}

.test2
{
    line-height: 70px;

    position: absolute;
    z-index: 19;
    top: 25%;
    left: 25%;

    width: 60%;
    height: 60%;

    transition: all 500ms cubic-bezier(.680, -.550, .265, 1.550) .2s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: dimGray;
}

.test3
{
    line-height: 70px;

    position: absolute;
    top: 25%;
    left: 25%;

    width: 60%;
    height: 60%;

    transition: all 500ms cubic-bezier(.680, -.550, .265, 1.550) .4s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: dimGray;
}

.test4
{
    line-height: 70px;

    position: absolute;
    top: 25%;
    left: 25%;

    width: 60%;
    height: 60%;

    transition: all 500ms cubic-bezier(.680, -.550, .265, 1.550) .6s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: dimGray;
}

.mask2
{
    line-height: 120px;

    position: absolute;
    position: fixed;
    z-index: 21;
    top: 20px;
    left: 15px;

    width: 100px;
    height: 100px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #50c3af;
}
.white
{
    color: #fff;
}

header
{
    background-image: url('../images/HeaderBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1
    {
        font: 700 53px / 24px Ubuntu;

        padding: 79px 0 43px 0;

        color: #fff;
    }
    h3
    {
        font: 400 52px / 24px Belinda;

        padding: 65px 0;

        color: #fff;
    }
    li
    {
        font: 600 13px / 24px OpenSans;

        display: inline;

        padding: 0 20px 0 0;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        color: #fff;
    }
    p
    {
        font: 700 15px / 24px PTSans;

        color: #f5f5f5;
    }

    .btn-container
    {
        padding: 100px;
    }

    .btn
    {
        font: 700 25px / 24px PTSans;

        position: relative;
        z-index: 1;

        display: block;
        overflow: hidden;

        max-width: 300px;
        padding: 10px 20px;

        -webkit-transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
                transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
        text-align: center;
        text-decoration: none;

        color: #fff;
        border: none;
    }
    .btn.center
    {
        margin: 0 auto;
    }
    .btn:after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        -webkit-transition: -webkit-transform 300ms ease-out 200ms;
                transition:         transform 300ms ease-out 200ms;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);

        background-color: rgba(0,0,0,.3);
    }
    .btn:hover
    {
        color: #fff;
        box-shadow: 0 0 16px rgba(255, 255, 255, .1);
    }
    .btn:hover:after
    {
        -webkit-transition: -webkit-transform 300ms ease-out;
                transition:         transform 300ms ease-out;
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }

    @media screen and (max-width:768px)
    {
        h1
        {
            line-height: 55px;
        }
    }
}

.section-two
{
    padding: 62px 110px 62px 110px;

    background: rgba(234, 234, 235, .6);
    h1
    {
        font: 700 16px / 24px PTSans;

        margin-top: 0;
        padding-top: 20px;

        color: #40474e;
    }
    p
    {
        font: 400 14px / 24px PTSans;

        padding-top: 20px;

        color: #787b80;
    }
    i
    {
        font-size: 50px;

        margin: 0;
        padding: 15px;
    }
}

.section-three
{
    padding: 65px 105px;

    background-color: #fff;
    h1
    {
        font: 700 18px / 24px PTSans;

        color: #40474e;
    }
    p
    {
        font: 400 14px / 24px PTSans;

        color: #787b80;
    }
}
.read-more
{
    font-size: 17px;

    display: inline-block;

    margin: 34px 0 77px 0;
    padding: 15px 50px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    color: #fff;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
    background-color: #50c3af;
}
.read-more:hover,
read-more:focus
{
    text-decoration: none;

    color: #fff;
    background-color: #3cc;
}
.section-four
{
    background-color: rgba(234, 234, 235, .6);

    h1
    {
        font: 700 18px / 24px PTSans;

        padding: 40px;

        text-transform: uppercase;

        background: url('../images/tockic.png') no-repeat left center;
    }
    .read-more-gray
    {
        background-color: #d2d5da;
    }
    .read-more-gray:hover,
    read-more-gray:focus
    {
        background-color: #3cc;
    }
    p
    {
        font: 400 14px / 24px PTSans;

        color: #787b80;
    }
    .row
    {
        padding: 0 125px 0 108px;
    }
}

.section-five
{
    padding: 105px;
    h1
    {
        font: 700 16px / 24px PTSans;

        text-transform: uppercase;

        color: #40474e;
    }
    p
    {
        font: 400 14px / 24px PTSans;

        color: #787b80;
    }
    a
    {
        font: 400 14px / 24px PTSans;

        text-decoration: none;

        color: #50c3af;
    }
    .padding
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.section-six
{
    background-color: rgba(234, 234, 235, .6);

    .col-md-6
    {
        padding: 80px;
    }
    h1
    {
        font: 700 18px / 24px PTSans;

        padding-bottom: 20px;

        text-transform: uppercase;

        color: #40474e;
    }
    .airplane
    {
        background: url('../images/airplane.png') no-repeat 100px top;
    }
    .pencil
    {
        background: url('../images/pencil.png') no-repeat 85px top;
    }

    p
    {
        font: 400 14px / 24px PTSans;

        padding: 49px 0 36px 0;

        color: #787b80;
    }
    a
    {
        margin: 0;
    }
}
.section-seven
{
    padding: 62px;
    img
    {
        margin-top: 25px;
    }

    h1
    {
        font: 700 18px / 24px PTSans;

        text-transform: uppercase;

        color: #40474e;
    }
    p
    {
        font: 400 14px / 24px PTSans;

        padding-top: 56px;
        padding-bottom: 29px;

        color: #787b80;
    }
    a
    {
        margin: 0;
    }
    .col-md-6
    {
        padding: 80px;
    }
    .read-more-gray
    {
        background-color: #d2d5da;
    }
    .read-more-gray:hover,
    read-more-gray:focus
    {
        background-color: #3cc;
    }
}
.section-eight
{
    padding-bottom: 73px;

    background-color: #50c3af;

    h1
    {
        font: 700 15px / 24px PTSans;

        padding: 53px 0 30px;

        text-transform: uppercase;

        color: #fff;
    }
    .aone
    {
        font: 400 26px / 24px Belinda;

        margin-right: 20px;

        text-decoration: none;

        color: rgba(255, 255, 255, .7);
    }
    .atwo
    {
        font: 400 26px / 24px NexaRegular;

        margin-right: 20px;

        text-decoration: none;

        color: rgba(255, 255, 255, .7);
    }
    .athree
    {
        font: 400 26px / 24px Cabin;

        margin-right: 20px;

        text-decoration: none;

        color: rgba(255, 255, 255, .7);
    }
    .afour
    {
        font: 400 26px / 24px NexaHeavy;

        text-decoration: none;

        color: rgba(255, 255, 255, .7);
    }
    hr
    {
        margin-bottom: 100px;

        color: rgba(245, 245, 245, .1);
    }
}
footer
{
    padding: 24px;
    ul
    {
        overflow: auto;

        margin: 0;
    }

    ul li
    {
        float: left;

        list-style-type: none;
    }

    ul li a i
    {
        font-size: 25px;

        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding-top: 15%;

        transition: all .2s ease-in-out;
        text-align: center;

        color: #fff;
        border-radius: 20px;
        background: #205d7a;
    }
    .fa-facebook
    {
        background: #3b5998;
    }
    .fa-linkedin
    {
        background: #007bb6;
    }
    .fa-twitter
    {
        background: #00aced;
    }
    .google-plus
    {
        background: #dd4b39;
    }
    ul li a i:hover
    {
        opacity: .7;
    }
    p
    {
        margin: 0;
        padding: 10px;
    }
}
